<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Checkers.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <system.serviceModel>
        <bindings>
            <netNamedPipeBinding>
                <binding name="NetNamedPipeBinding_ICheckersService"/>
            </netNamedPipeBinding>
            <netTcpBinding>
                <binding name="NetTcpBinding_ICheckersService"/>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.pipe://localhost/CheckersAppServer" binding="netNamedPipeBinding" bindingConfiguration="NetNamedPipeBinding_ICheckersService" contract="CheckersServiceReference.ICheckersService" name="NetNamedPipeBinding_ICheckersService">
                <identity>
                    <userPrincipalName value="THEGIFT\SHURIK"/>
                </identity>
            </endpoint>
            <endpoint address="net.tcp://localhost:5528/CheckersAppServer" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_ICheckersService" contract="CheckersServiceReference.ICheckersService" name="NetTcpBinding_ICheckersService">
                <identity>
                    <userPrincipalName value="THEGIFT\SHURIK"/>
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
    <userSettings>
        <Checkers.Properties.Settings>
            <setting name="ServerHost" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="ServerPort" serializeAs="String">
                <value>5528</value>
            </setting>
            <setting name="PlayerName" serializeAs="String">
                <value/>
            </setting>
        </Checkers.Properties.Settings>
    </userSettings>
</configuration>
